{{#each blogs as |blog|}}
  <div class="blog-list">
    <div class="blog-title">
      <h3>{{blog.name}}</h3>
      <p>Posted by {{blog.user.name}} on {{blog.date_created}}</p>
    </div>
    <div class="blog-text">
      <p class="featured-testimonials-quotation">{{blog.description}}</p>
    </div>
  </div>
{{/each}}