<form class="callout text-center" id="login-form">
  <h2>Login</h2>
  <div class="floated-label-wrapper">
    <label for="email">Email</label>
    <input
      type="email"
      id="log-email"
      name="email input"
      placeholder="Email"
      required
    />
  </div>
  <div class="floated-label-wrapper">
    <label for="pass">Password</label>
    <input
      type="password"
      id="log-password"
      name="password input"
      placeholder="Password"
      required
    />
  </div>
  <input class="button expanded" type="submit" value="Log In" />
  <a href="/signup">Sign up instead!</a>
</form>

<script src="/js/login.js"></script>